.tab ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(134, 170, 232);
  }
  
  .tab li {
    float: left;

 
    /* margin: 10px; */
  }
  
  .tab li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .tab li a:hover {
    background-color: #111;
opacity: 0.5;
transition: 0.5s;
  }
    #find{

color: rgb(173, 172, 174);
background-color: rgb(134, 170, 232);
padding: 12px;
  }  
  #input{
   
    padding: 14px 16px;
  
  }
  .tab{
    margin: 0%;
    padding: 0%;
  }
  .main_area{
   
   height: 87vh;
   width: 100vw;
 
    margin: 0%;
    padding: 0%;

  }
 
  /* .footer{
    padding: 0%;
    margin: 0%;
  }
 
 .footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(147, 136, 136);
  }
  
  .footer li {
    float: left;
    margin-left: 230px;
 
  }
  .footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(156, 150, 150);
  } */
.welcome{
  
    padding: 0%;
font-size: 30px;
justify-content: center;
text-align: center;
   
}